<!DOCTYPE html>
<html lang="en">
<head>
  <title>Project 1: TikTok</title>
<style>
  a:link, a:visited {
    background-color:black;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: black;
  }
  </style>
</head>
<body>

  <!-- SITE NAVIGATION -->
  <div class="container">
    <nav>
      <h1 style="background-color: powderblue;" style="font-size: large;" style="color: black;"><a href="/"><h1 style="text-align:center;">Project 1: TikTok</a></h1>
      <ul>
          <h2 style="color: black;" style="font-size: medium;" style="align-items: right;"> <a href="/about" target="_blank">About </a></h2>
            <h2 style="color: black;"> <a href="/hello">The App </a></h2>
      </ul>
    </nav>
    <hr>

    <!-- PAGE CONTENTS -->
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- FOOTER -->
    <footer>
      <hr>
      &copy; Copyright 2021 | Emma Forman |
      <a href="https://github.com/emmalforman/tiktok">Source</a> |
      <a href="https://www.emmaforman.com">Personal Website</a>
    </footer>
  </div>

</body>
</html>