<!DOCTYPE html>
<html lang="en">
<head>
<title>Project 1: TikTok</title>
<style>
    a.button:link, a.button:visited {
    background-color:black;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
    a.button:hover, a.button:active {
    background-color: black;
  }
    ul{list-style:none;}
    ul > li{display: inline-block;}
  </style>
</head>
<body>

  <!-- SITE NAVIGATION -->
  <div style="text-align:center" class= "container">
    <nav style="background-color: powderblue" >
      <ul>
          <li>
          <h1 style="color: black;"> <a class= "button" href="/home"> Project 1: TikTok </a></h1>
          </li>
          <li style="padding-right:1rem; padding-left:1rem" ><h2 style="color: black;" style="font-size: medium;"> <a class= "button" href="/about" target="_blank">About </a></h2></li>
          <li><h2 style="color: black;"> <a class= "button" href="/app">The App </a></h2></li>
        </ul>
    </nav>
    <hr>

    <!-- PAGE CONTENTS -->
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    <!-- FOOTER -->
    <footer>
      <hr>
      &copy; Copyright 2021 | Emma Forman |
      <a href="https://github.com/emmalforman/tiktok">Source</a> |
      <a href="https://www.emmaforman.com">Personal Website</a>
    </footer>
  </div>

</body>
</html>